.JCbody {
    width: 100%;
    box-shadow: 5px 5px 5px #10648C;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}
.JCbody p {
    font-size: 18px;
}
.JCbody span {
    color: #42C2FF;
    font-weight: bold;
}