.homeBody {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/Landing Page/bgImg.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-y;
    overflow-x: hidden;
}